In [2]:
import os
import json
import yfinance as yf
import pandas as pd
import numpy as np
from pandas.tseries.offsets import BDay

In [3]:
file_path = os.getenv("ITA_DATA_PATH")
data = pd.read_csv(f'{file_path}\data.csv', index_col='Date')
data

,wmt_Open,wmt_High,wmt_Low,wmt_Close,wmt_Volume,amzn_Open,amzn_High,amzn_Low,amzn_Close,amzn_Volume
Date,,,,,,,,,,
4/19/2022,156.67,157.95,156.04,157.65,5284973,3040.59,3172.9800,3031.0100,3162.31,2746321
4/18/2022,156.75,157.98,155.21,155.88,4890605,3030.47,3080.7900,3005.0100,3055.70,2325676
4/14/2022,157.11,158.29,156.43,157.08,7453493,3107.80,3117.9400,3029.4350,3034.13,2579907
4/13/2022,153.45,157.79,153.35,157.22,9761532,3000.37,3120.5000,2992.0000,3110.82,2669544
4/12/2022,154.24,155.40,152.55,153.23,8920400,3073.85,3101.9800,3007.6600,3015.75,2758872
...,...,...,...,...,...,...,...,...,...,...
1/9/2017,68.33,68.80,68.32,68.71,8685232,798.00,801.7742,791.7700,796.92,3446109
1/6/2017,68.41,68.50,68.01,68.26,9491115,782.36,799.4400,778.4800,795.99,5986234
1/5/2017,68.43,69.33,68.12,69.21,7099170,761.55,782.3999,760.2557,780.45,5830068
1/4/2017,68.66,69.63,68.60,69.06,7917952,758.39,759.6800,754.2000,757.18,2510526
1/3/2017,69.24,69.24,68.05,68.66,10473162,757.92,758.7595,747.7000,753.67,3521066

In [5]:
amzn = yf.Ticker("AMZN")
amzn_hist = amzn.history(period="5y", auto_adjust=True)
amzn_hist = amzn_hist[['Close']]
amzn_hist = amzn_hist.rename(columns={"Close": "AMZN"})
amzn.history(period="5y", auto_adjust=True)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-04-21,902.669983,903.650024,896.770020,898.530029,2420500,0,0
2017-04-24,908.679993,909.989990,903.820007,907.409973,3122900,0,0
2017-04-25,907.039978,909.479980,903.000000,907.619995,3380600,0,0
2017-04-26,910.299988,915.750000,907.559998,909.289978,2608900,0,0
2017-04-27,914.390015,921.859985,912.109985,918.380005,5305500,0,0
...,...,...,...,...,...,...,...
2022-04-13,3000.370117,3120.500000,2992.000000,3110.820068,2669500,0,0
2022-04-14,3107.800049,3117.939941,3029.439941,3034.129883,2575200,0,0
2022-04-18,3030.469971,3080.790039,3005.010010,3055.699951,2325700,0,0
2022-04-19,3040.590088,3172.979980,3031.010010,3162.310059,2746300,0,0
2022-04-20,3152.050049,3152.050049,3072.070068,3079.959961,2977400,0,0

In [6]:
wmt = yf.Ticker("WMT")
wmt_hist = wmt.history(period="5y", auto_adjust=True)
wmt_hist = wmt_hist[['Close']]
wmt_hist = wmt_hist.rename(columns={"Close": "WMT"})
wmt.history(period="5y", auto_adjust=True)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-04-21,67.769873,68.105370,67.642930,67.951225,5755700,0.0,0
2017-04-24,68.078162,68.368319,67.479710,67.806137,7812500,0.0,0
2017-04-25,67.978423,68.159769,67.878681,68.050964,5720400,0.0,0
2017-04-26,68.250441,68.703812,68.159768,68.395523,6948500,0.0,0
2017-04-27,68.495244,68.640319,68.023735,68.404572,6052200,0.0,0
...,...,...,...,...,...,...,...
2022-04-13,153.449997,157.789993,153.350006,157.220001,9761500,0.0,0
2022-04-14,157.110001,158.289993,156.429993,157.080002,7452300,0.0,0
2022-04-18,156.750000,157.979996,155.210007,155.880005,4890600,0.0,0
2022-04-19,156.669998,157.949997,156.039993,157.649994,5285000,0.0,0
2022-04-20,158.350006,160.350006,158.289993,159.630005,6605900,0.0,0

In [7]:
hist = amzn_hist.merge(wmt_hist, how='inner', on='Date')
hist['log_ret_AMZN'] = np.log(hist['AMZN']) - np.log(hist['AMZN'].shift(1))
hist['log_ret_WMT'] = np.log(hist['WMT']) - np.log(hist['WMT'].shift(1))
hist

                   AMZN         WMT  log_ret_AMZN  log_ret_WMT
Date
2017-04-21   898.530029   67.951233           NaN          NaN
2017-04-24   907.409973   67.806145      0.009834    -0.002137
2017-04-25   907.619995   68.050964      0.000231     0.003604
2017-04-26   909.289978   68.395523      0.001838     0.005050
2017-04-27   918.380005   68.404594      0.009947     0.000133
...                 ...         ...           ...          ...
2022-04-13  3110.820068  157.220001      0.031038     0.025706
2022-04-14  3034.129883  157.080002     -0.024962    -0.000891
2022-04-18  3055.699951  155.880005      0.007084    -0.007669
2022-04-19  3162.310059  157.649994      0.034294     0.011291
2022-04-20  3079.959961  159.630005     -0.026386     0.012481

[1259 rows x 4 columns]

In [8]:
corr_hist = hist['AMZN'].rolling(5).corr(hist['WMT'])
corr_hist = corr_hist.to_frame(name='corr_coef')
corr_hist

            corr_coef
Date
2017-04-21        NaN
2017-04-24        NaN
2017-04-25        NaN
2017-04-26        NaN
2017-04-27   0.674695
...               ...
2022-04-13   0.820890
2022-04-14   0.774786
2022-04-18   0.720575
2022-04-19   0.717838
2022-04-20   0.228968

[1259 rows x 1 columns]

# Get Position Direction

In [6]:
def get_position_direction(log_returns):
    amzn_neg_count = np.sum((log_returns['log_ret_AMZN'].values < 0))
    wmt_neg_count = np.sum((log_returns['log_ret_WMT'].values < 0))
    amzn_direction = 'LONG' if (amzn_neg_count >= wmt_neg_count) else 'SHORT'
    wmt_direction = 'SHORT' if (amzn_direction == 'LONG') else 'LONG'
    return {'AMZN': amzn_direction, 'WMT': wmt_direction}

# Define Trade

In [7]:
def define_trade(corr_hist):
    current_pos_status = json.load(open('position_status.json'))['status']
    print(current_pos_status)
    for index, row in corr_hist.iterrows():
        if row['corr_coef'] < 0 and current_pos_status == 'CLOSE':
            from_date = index - BDay(4)
            to_date = index
            slice_hist = hist.loc[from_date: to_date, "log_ret_AMZN":"log_ret_WMT"]
            print(slice_hist)
            trade = get_position_direction(slice_hist)
            trade['trade_date'] = index + BDay(1)
            return trade
print(define_trade(corr_hist))

CLOSE
            log_ret_AMZN  log_ret_WMT
Date
2017-04-25      0.000231     0.003605
2017-04-26      0.001838     0.005050
2017-04-27      0.009947     0.000133
2017-04-28      0.007172    -0.003452
2017-05-01      0.024814     0.000665
{'AMZN': 'SHORT', 'WMT': 'LONG', 'trade_date': Timestamp('2017-05-02 00:00:00')}

# Open Position

In [8]:
trade = define_trade(corr_hist)

CLOSE
            log_ret_AMZN  log_ret_WMT
Date
2017-04-25      0.000231     0.003605
2017-04-26      0.001838     0.005050
2017-04-27      0.009947     0.000133
2017-04-28      0.007172    -0.003452
2017-05-01      0.024814     0.000665